parameters:
    vendor_path: %currentWorkingDirectory%/vendor
    bootstrap: %vendor_path%/vianetz/phpstan-magento1/phpstan-bootstrap.php
    excludes_analyse:
        - %currentWorkingDirectory%/htdocs/app/code/local/*/*/data/*
        - %currentWorkingDirectory%/htdocs/app/code/local/*/*/sql/*
    autoload_files:
        - %currentWorkingDirectory%/htdocs/app/Mage.php

services:
    -
        class: PHPStanMagento1\Reflection\Varien\Object\MagicMethodsReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: PHPStanMagento1\Type\Mage\Core\Model\Layout\HelperMethodsReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\HelperMethodsReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
