parameters:
    bootstrap: %currentWorkingDirectory%/vendor/vianetz/phpstan-magento1/phpstan-bootstrap.php
    excludes_analyse:
        - */app/code/local/*/*/data/*
        - */app/code/local/*/*/sql/*
    autoload_files:
        - %currentWorkingDirectory%/htdocs/app/Mage.php

services:
    -
        class: PHPStanMagento1\Reflection\Varien\Object\MagicMethodsReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: PHPStanMagento1\Type\Mage\CoreModelLayout\Helper
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\CoreModelLayout\GetBlockSingleton
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\GetModel
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\GetResourceModel
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\GetSingleton
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: PHPStanMagento1\Type\Mage\Helper
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension